<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Valuation FCD - Dark Mode</title>

    <script src="https://cdn.tailwindcss.com"></script>
    {% block head_scripts %}{% endblock %}
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link rel="stylesheet" href="/static/style.css?v=2.2" />
  </head>
  <body class="bg-slate-900 font-sans text-slate-300 min-h-screen">
    {% block content %}{% endblock %}
  </body>
</html>
