{% extends "base.html" %}
{% block head_scripts %}
<script>
  // Fallbacks globais para garantir imunidade contra cache de navegadores
  window.modeloAtual = 'dcf_fcff';
  window.detalhesValuation = null;
</script>
<script defer src="/static/calculator.js?v=3.0.0"></script>
{% endblock %}

{% block content %}
<div class="p-4 sm:p-8" x-data="valuationApp" x-cloak>
  <div class="max-w-6xl mx-auto space-y-6">
    {% include "partials/header.html" %} {% include "partials/tab_calc.html" %}
    {% include "partials/tab_history.html" %}
  </div>
</div>
{% endblock %}
